src/main/webapp/pdfs/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://corpwsdl.oneninetwo"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://corpwsdl.oneninetwo"
                  xmlns:intf="http://corpwsdl.oneninetwo"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://rpc.xml.coldfusion"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:head="http://xml.proveid.experian.com/xsd/Headers" >
 <wsdl:types>
  <schema targetNamespace="http://rpc.xml.coldfusion" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <element name="CFCInvocationException"/>
   
  </schema>
    <schema targetNamespace="http://xml.proveid.experian.com/xsd/Headers" xmlns="http://www.w3.org/2001/XMLSchema">
		<element name="Signature" nillable="true" type="xsd:string"/>
  </schema>
  <schema targetNamespace="http://corpwsdl.oneninetwo" xmlns="http://www.w3.org/2001/XMLSchema">
		   <complexType name="CFCInvocationException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>
   <wsdl:message name="CFCInvocationException">
      <wsdl:part name="fault" element="tns1:CFCInvocationException">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="searchResponse">
      <wsdl:part name="searchReturn" type="xsd:string">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="searchRequest">
      <wsdl:part name="xml" type="xsd:string">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="Signature">
      <wsdl:part name="signature_header" element="head:Signature"/>
   </wsdl:message>
   <wsdl:portType name="IDSearch">
      <wsdl:operation name="search" parameterOrder="xml">
         <wsdl:input message="impl:searchRequest" name="searchRequest">
       </wsdl:input>
         <wsdl:output message="impl:searchResponse" name="searchResponse">
       </wsdl:output>
         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException">
       </wsdl:fault>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="IDSearch.cfcSoapBinding" type="impl:IDSearch">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="search">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="searchRequest">
            <wsdlsoap:header message="intf:Signature" part="signature_header" use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://corpwsdl.oneninetwo" use="encoded"/>
         </wsdl:input>
         <wsdl:output name="searchResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://corpwsdl.oneninetwo" use="encoded"/>
         </wsdl:output>
         <wsdl:fault name="CFCInvocationException">
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException" namespace="http://corpwsdl.oneninetwo" use="encoded"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="IDSearch">
      <wsdl:documentation>com.pluralsight.Main ID Search Web Service</wsdl:documentation>
      <wsdl:port binding="impl:IDSearch.cfcSoapBinding" name="IDSearch.cfc">
         <wsdlsoap:address location="http://localhost/corpxml/IDSearch.cfc"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
